.container {
    display: flex;
}
.left  .back    {
    position: absolute;
    z-index: -1;
    left: -10px;
    height: 650px;
} 
.imgcar {
    margin-top: 150px;
    margin-left: -250px;
}
.text p{
    background-color: #1572D31A;
    padding: 16px 32px;
    border-radius: 8px;
    font-family: Poppins , sans-serif;
}
.text {
    justify-content: center;
    justify-items: start;
    font-family: Poppins , sans-serif;
}
.extra {
    margin-top: 150px;
    margin-left: 50px;
    color: #959595;
}
.returne a {
    font-family: poppins , sans-serif;
    color: #0f5aa7;
    font-size: 20px;
}
.btn    {
    margin-top: 30px;
}
.returne {
    margin: 40px;
}
.returne span {
    font-family: Poppins , sans-serif;
    font-size: 20px;
}