.boos {
    margin-top: 100px;
    min-height: 800px;
}
.texthead{
    display:flex;
    justify-content: center;
}
.texthead p {
    background-color: #1572D31A;
    width:161px;
    padding: 16px 32px;
    display: flex;
    color: #1572D3;
    justify-content: center;
    font-family: Poppins, sans-serif;
    border-radius: 8px;
}
.text2 {
    display:flex;
    justify-content: center;
    font-weight: 500;
    font-size: 38px;
    font-family: Poppins, sans-serif;
}

.icons  {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}
.shape{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}
.textp {
    display:flex;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.desc{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    margin-left:50px;
}
.desc p {
    width: 202px;
    display: flex;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 500;
}
article {
    margin-top: 80px;
}
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 150px; 
}

.slide_track {
    margin-top: 100px;
  display: flex;
  width: calc(200px * 8); 
  animation: scroll 20s linear infinite;
  justify-content: space-between;
  height: 1000px;
}

.slide_track img {
  width: 100px;
  height: 30px;
  margin-right: 20px;
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

