.middle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 40px;

}

.card {
    width: 256px;
    height: auto;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 6px 12px 0px #135EAC1F;
    transition: 0.3s ease;
    font-family: Poppins, sans-serif;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 20px 0px #135EAC3F;
}

.carImg {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.title {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.rating {
    color: #555;
    font-size: 14px;
    margin-bottom: 16px;
}

.specs {
    font-size: 14px;
    color: #777;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    margin-bottom: 20px;
}

.priceBox {
    display: flex;
    gap: 6px;
    align-items: baseline;
    margin-bottom: 20px;
}

.priceTitle {
    color: #777;
    font-size: 14px;
}

.price {
    font-size: 20px;
    font-weight: 600;
}

.day {
    color: #777;
    font-size: 14px;
}

.rentBtn {
    width: 100%;
    padding: 12px;
    background: #1572d3;
    color: #fff;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

.rentBtn:hover {
    background: #0f5aa7;
}

.bmw {
    width: 208px;
}

.btn_morecars {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn_morecars a {
    background-color: #E0E0E0;
    width: 216px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
    color: #4E4E4E;
    font-family: "Poppins", sans-serif;
}

.btn_morecars a:hover {
    background-color: #0f5aa7;
    color: #fff;
    transition: .8s;
}
.returne a {
    font-family: poppins , sans-serif;
    color: #0f5aa7;
    font-size: 20px;
}
.btn    {
    margin-top: 30px;
}
.returne {
    margin: 40px;
}
.returne span {
    font-family: Poppins , sans-serif;
    font-size: 20px;
}
.text {
    justify-content: center;
    justify-items: center;
}
.text p {
    background-color: #1572D31A;
    padding: 16px 32px;
    border-radius: 8px;
    font-family: Poppins , sans-serif;
}
.text h1 {
    font-size: 38px;
    font-family: Poppins , sans-serif;
    color: #333333;
}