.container {
    background-color: #F7FBFF;
    height: 800px;
}

.imgback {
    position: absolute;
    right: 90px;
    pointer-events: none;
}

.imgback1 {
    position: absolute;
    left: 120px;
    margin-top: 50px;
    pointer-events: none;
}

.text {
    width: 100% ;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-top: 70px;
}

.text p{
    background-color: #1572D31A;
}
.pragh {
    width: 161px;
    padding: 16px 32px;
    border-radius: 8px;
    font-family: Poppins , sans-serif;
}
.text h1 {
    font-family: Poppins , sans-serif;
    margin-top: 80px;
}
.photes {
    height: 437px;
    z-index: +1;
}