.container {
    background-color: #051C34;
    height: 375px;
    border-radius: 10px;
}

.seconde {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.seconde a {
    text-decoration: none;
    color: #D6D6D6;
}
.right span {
    color: #D6D6D6;
    font-family: Poppins, sans-serif;
}

.sec {
    color: #D6D6D6;
    font-family: Poppins, sans-serif;
}

.three {
    color: #D6D6D6;
    font-family: Poppins, sans-serif;
    margin-top: 30px;
}

.four {
    color: #D6D6D6;
    font-family: Poppins, sans-serif;
}

.five {
    color: #D6D6D6;
    font-family: Poppins, sans-serif;
    justify-items: space-between;
    text-align: center;
}
.Footer_icon{
    justify-content: space-between;
}
.Footer_icon a {
    margin: 10px;
}
.footer_end {
    margin: 25px;
    color: #D6D6D6;
    font-family: Poppins, sans-serif;
}
hr {
    margin-left: 120px;
    margin-right: 120px;
}