.inbut {
    display: block;
    margin: 10px;
    border: none;
    background-color: #CEDCFF;
    border-radius: 61px;
    padding: 10px;
    width: 374px;
}
.left h1 {
    margin: 55px 30px;
}
.left p{
    margin: 55px 30px;
}
.left {
    margin-left: 50px
}
.lists {
    justify-items: center;
    text-align: center;
    width: 374px;
    margin-top: 180px;
    margin-left: 130px;
}
.btn {
    padding: 8px;
    background-color: #1572D3;
    width: 159px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    margin-top: 30px;
}
.free {
    color: #1572D3;
}
.left h1 {
    font-family: Poppins , sans-serif;
}
.left p {
    font-family: Poppins , sans-serif;
}
.img {
    position: absolute;
    z-index: -1;
}
.img2 {
    position: absolute;
    right: 0;
    width: 520.22px;
    margin-top: 80px;
    z-index: -1;
    margin-right: 20px;
}
.img3 {
    position: absolute;
    right: 0;
    width: 468.66px;
    margin-right: 28px;
    margin-top: 100px;
    z-index: -1;
    margin-right: 47px;

}